<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>276739712550-2vm782uml9l5dhtle6dsiurh5334e19l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.276739712550-2vm782uml9l5dhtle6dsiurh5334e19l</string>
	<key>API_KEY</key>
	<string>AIzaSyAFG3ExQE8j1IId-bXgKyg1eNpd0lYAQ6w</string>
	<key>GCM_SENDER_ID</key>
	<string>276739712550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.streamaster</string>
	<key>PROJECT_ID</key>
	<string>streamaster-ef692</string>
	<key>STORAGE_BUCKET</key>
	<string>streamaster-ef692.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:276739712550:ios:3edb8935f319bec12e68e7</string>
</dict>
</plist>